.container {
  margin: 40px;
  display: flex;
  justify-content: center;
}

.pokeSpinner {
  width: 100px;
  animation: spin 1.7s infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}